footer {
  background: linear-gradient(220.94deg, #A950C4 14.43%, #82269E 85.28%);
}

.icons-footer {
  max-width: 48px;
  padding: 8px;
}

.logo-footer {
  max-width: 96px;
}

.list {
  list-style: none;
  a {
    color: $white-light;
  }
}

.bt-purple {
  border-top: 1px solid $secondary-light;
}

.color-white {
  color: $white-light;
}

.weight {
  font-weight: 600;
}